<form class="edit-panel-actual">
    <h1>New Project</h1>
    <label for="title">Title</label>
    <input required type="text" name="title" id="title" class="title">
    <label for="description">Description (Optional)</label>
    <textarea type="text" name="description" id="description" class="description"></textarea>
    <label for="date">Due by:  </label>
    <input type="date" class="date">
    <label for="priority">Priority</label>
    <input type="number" name="priority" id="priority" max="10" required class="priority">
    <div class="button-container">
        <button type="button" class="cancel-button">Cancel</button>
        <button type="submit" class="submit-button">Submit</button>
    </div>
</form>