<div class="project">
    <div class="details">
        <h2>Make To-Do App</h2>
        <p class="description">
            Complete The Odin Project's To-Do Project
        </p>
        <p class="priority">Priority: 10</p>
    </div>
    <div class="buttons">
        <div class="buttons-inner">
            <button class="edit-button"><img src="../imgs/pencil.svg" alt=""></button>
            <button class="delete-button"><img src="../imgs/trash-can-outline.svg" alt=""></button>
            <button id="edit" class="view-button">View To-Do List<img src="../imgs/chevron-right.svg" alt=""></button>
        </div>
    </div>
</div>