<div class="to-do">
    <h2>Finish UI</h2>
    <div class="details">
        <p class="description">
            Since the logic is complete and we have a
            working console application, now I just need
            to finish the interface and connect it to the
            logic.
        </p>
        <p class="priority"></p>
    </div>
    <div class="buttons">
        <div class="checkbox">
            <label>
                <input class="checkbox-gap" type="checkbox">
                <span class="checkmark"></span>
                <span>Completed?</span>
            </label>
        </div>
        <div class="buttons-inner">
            <button><img src="../imgs/pencil.svg"></button>
            <button class="delete-button"><img src="../imgs/trash-can-outline.svg"></button>
        </div>
    </div>
</div>